:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    justify-self: center;
    margin: auto;
    margin-top: 5px;
    width: 80vh;
    height: 80vh;
    max-height: 82vh;
    max-width: 82vh;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  #grid-item {
    border: 1px solid #ddd;
    text-align: center;
  }


.permahover {
    background: red;
}

h1 {
    text-align: center;
}

#button {
  display: inline-block;
}
